body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Usamos header o nav como contenedor fijo */
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que la barra quede por encima del resto del contenido */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px; /* Padding interno para que el contenido no pegue a los bordes */
}


.logo img{
    height: 40px; 
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: #ccc; /* Color inicial del texto */
    font-size: 0.95rem;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

li a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1); /* Sombra suave de fondo al pasar el ratón */
}